h2{
	text-align: center;
	min-width: 1000px;
}
p{
	text-align: center;
	font-size: 11px;
	min-width: 1000px;
}
h4{
	position: absolute;
	left: 35%;
	min-width: 1000px;
}
body{
	font-family: Calibri;
	min-width: 1000px;
}